.text-block {
	max-width: 570px;
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
	span {
		display: block;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 30px;
	}
	p {
		font-weight: 300;
		color: #333;
		line-height: 23px;
		margin-bottom: 35px;
	}
	h4 {
		font-size: 20px;
		line-height: 22px;
		color: #0f0f0f;
		font-weight: 400; 
		margin-bottom: 15px;
	}
	&.second-text-block {
		padding-top: 45px;
		p {
			margin-bottom: 70px;
			@media(max-width: 420px) {
				margin-bottom: 30px;
			}
		}
	}
	.quote-block {
		display: block;
		position: relative;
		padding: 43px 0 0 74px; 
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		margin: 50px 0 48px;
		&:before {
			content: '“';
			display: block;
			font-size: 80px;
			line-height: 82px;
			color: #ffe50a;
			position: absolute;
			left: 0;
			top: 35px; 
		}
		span {
			margin-bottom: 20px;
			text-transform: none;
			font-style: italic;
			font: 16px/29px 'Libre Baskerville';
		}
		i {
			display: flex;
			align-items: center;
			text-align: right;
			justify-content: flex-end;
			margin-bottom: 42px;
			&:before {
				content: '';
				display: inline-block;
				width: 40px;
				height: 1px;
				background: #797979;
				margin-right: 20px;
			}
		}
	}
}