#footer {
	padding-top: 40px;
	border-top: 1px solid #f1f1f5;
	padding-bottom: 30px; 
	.nav-search {
		max-width: 1170px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@media(max-width: 1200px) {
			padding: 0 10px;
		}
		@media(max-width: 940px) {
			justify-content: center;
		}
		.footer-nav {
			display: flex;
			border: 0;
			@media(max-width: 940px) {
				margin-bottom: 20px;
				width: 100%;
				justify-content: center;
			}
			@media(max-width: 768px) {
				flex-direction: column;
				text-align: center;
			}
			a {
                text-transform: uppercase;
                margin-right: 60px;
                &:hover {
                	text-decoration: underline;
                }
				&:first-child:after {
					display: none;
				}
				@media(max-width: 940px) {
					&:last-child {
						margin-right: 0;
					}
				}
				@media(max-width: 768px) {
					width: 100%;
					margin: 0 auto 20px;
				}
			}
		}
		.socials {
			display: flex;
			a {
				display: block;
				width: 41px;
				height: 41px;
				margin-right: 15px;
				border-radius: 50%;
				transition: all 0.3s;
				&.facebook {
					background: url(../images/facebook.svg) no-repeat; 
					&:hover {
						transform: scale(1.1);
					}
				}
				&.houzz {
					background: url(../images/houzz.svg) no-repeat;
					&:hover {
						transform: scale(1.1);
					}
				}
				&.twitter {
					background: url(../images/twitter.svg) no-repeat;
					&:hover {
						transform: scale(1.1);
					}
				}
				&.instagram {
					background: url(../images/instagram.svg) no-repeat;	
					margin-right: 0;
					&:hover {
						transform: scale(1.1);
					}
				}

			}
		}
		.copyright {
			width: 100%;
			display: block;
			text-align: right;
			margin-top: 35px;
			color: #b5b5b5;
			@media(max-width: 940px) {
				text-align: center;
			}
		}
	}
}