@charset "utf-8";
// Utils
@import "utils/variables";

// Base
@import "base/reset";
@import "base/typography";

// Layout
@import "layout/header";
@import "layout/footer";

// popups
@import 'popups/searchPopup';
@import 'popups/popupStyles';
@import 'popups/contactPopup';
// components
@import 'components/slider';
@import 'components/textBlock';
@import 'components/mainTable';
@import 'components/postBlock';

section {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	@media(max-width: 768px) {
		padding: 0 10px;
	}
}
@media(max-width: 768px) {
	.second-text-block,
	.table-wrapper {
		padding: 0 10px;
	}
}